.v-card {
    border-radius: 20px !important;
}

a.v-list-item--active.v-list-item {
    background: #e41513 !important;
}

.v-data-table.elevation-1.theme--light {
    border-radius: 20px;
}

.v-list .v-list-item--active{
    color: #fff;
}

.v-data-table.products-table {
    background-color: #242424;
    color: #fff !important;
}

.v-data-table.products-table tr:hover {
    color: #000 !important;
}

.v-data-table.products-table th {
    background-color: #e41513;
    color: #fff !important;
}

.v-data-table.products-table tbody tr:not(:last-child) td:last-child, .v-data-table.products-table tbody tr:not(:last-child) td:not(.v-data-table__mobile-row) {
    border-bottom: 1px solid #fff !important;
}

.products-table .v-data-table__mobile-row {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}